{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to NEWS HIGHLIGHTING </title>
        {% endif %}
    </head>
    <body> -->
 <!-- article source section  -->
<!--styles block-->

    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">


 {% block content%}
 <h3> TOP HEADLINES</h3>
 <div class="article-columns">
        <h3>General</h3>
        <ul>
    {{ macro.displayArticles(headlines_general)}}
    <ul>
        <h3>sports</h3>
        <ul>
        {{ macro.displayArticles(headlines_sports)}}
        <ul>
        <h3>entertainment</h3>
        <ul>
        {{ macro.displayArticles(headlines_entertainment)}}
         <ul>
        <h3>Business</h3>
        <ul>
            {{ macro.displayArticles(headlines_business)}}
        <ul>  
        <h3>technology</h3>
        <ul>
            {{ macro.displayArticles(headlines_technology)}}
        <ul>      
        
</div>
{%endblock%}
