{% macro displayArticles(source_list) %}

    {% for source in source_list %}
        <li>{{ source.name }}</li>
    <!--<a href ="/articles/{{article.id}}"><li>{{ article.name}}</li></a>-->
    {% endfor %}

{% endmacro %}

 {% macro displayArticles(news) %}

    {% for article in article_list %}
    <!--<a href ="/articles/{{article.id}}"><li>{{ article.id }}</li></a>-->

   <img src="{{article.urlToImage}}" alt="news pic" style="height: 200px; width: 200px;">
    class="col -md-8 col-lg-8 col-xs-8 col-sm-8">
        <h4>{{article.title}}</h4>s
        <p>{{article.description}}</p><br>
        <a href="{{article.url}}"target="_blank">Read More</a>
        <p>Submiited:<i>{{article.time}}</i></p>

    {% endfor %}

{% endmacro %}

<!-- {% macro displayArticles(source_list) %}

    {% for article in source_list %}
        <li>{{ article.name }}</li>
    {% endfor %}

{% endmacro %}  -->
