<div class="navbar navbar-inverse" color="#330000" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="/" > NEWS HIGHLIGHTING </a>
            </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <button ><a href="/">Home</a></button>
                    <button><a href="/">General</a></button>
                     <button><a href="/">Sport</a></button>
                     <button><a href="/">Business</a></button>
                     <button><a href="/">Entertainments</a></button>
                     <button><a href="/">Technology</a></button>
                    
            </div>

        </div>
