<div class="navbar navbar-inverse" color="#330000" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> NEWS HIGHLIGHTING </a> <br>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">General</a></li>
                     <li><a href="/">Sport</a></li>
                     <li><a href="/">Business</a></li>
                     <li><a href="/">Entertainments</a></li>
                     <li><a href="/">Technology</a></li>
                    
            </div>

        </div>
    </div>